@model IEnumerable<MyBiddingsViewModel>
@{
    ViewBag.Title = "My Biddings";
}

<style>
    .card-body {
        font-size: 1.1em;
        font-weight: bold;
    }
</style>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="text-center row flex gap-4 m-4 justify-content-center">
    @foreach (var b in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <p class="card-title mt-1">Price: @b.Price lv.</p>
                <p class="mb-0">Date of bidding: @b.DateAndTimeOfBidding</p>
                <p class="mb-0">Auction Name: @b.AuctionName</p>
                <img src="@b.AuctionImageUrl" alt="Product Image" class="img-thumbnail" style="width: 150px; height: 100px;" />
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}