@model IEnumerable<AllUserCommentsViewModel>
@{
    ViewBag.Title = "All User Comments";
}

<style>
    .card-body {
        font-size: 1.1em;
        font-weight: bold;
    }
</style>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="text-center row flex gap-4 m-4 justify-content-center">
    @foreach (var c in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <p class="card-title mt-1">Comment: @c.Content</p>
                <p class="mb-0">Receiving Comment User: @c.ReceivingCommentUserName</p>
                <p class="mb-0">Sending Comment User: @c.SendingCommentUserName</p>
            </div>
            <a asp-area="Administrator" asp-controller="UserComment" asp-action="Delete" asp-route-id="@c.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Delete</a>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}