@model AllAuctionViewModel

<div class="col-md-3">
    <div class="card mb-4">
        <div>
            @if (Model.Images != null && Model.Images.Any())
            {
                foreach (var image in Model.Images)
                {
                    if (image.IsMain)
                    {
                        <img src="@image.ImageUrl" alt="Product Image" class="img-thumbnail" style="width: 300px; height: 150px;" />
                    }
                    else
                    {
                        <img src="@image.ImageUrl" alt="Product Image" class="img-thumbnail" style="width: 95px; height: 80px;" />
                    }
                }
            }
        </div>
            <div class="card-body text-center">
                <h5 class="card-title mt-1">@Model.Name</h5>
                <p class="mb-0">Last Price: @Model.LastPrice lv.</p>
                <p class="mb-0">Initial Price: @Model.InitialPrice lv.</p>
                <p class="mb-0">Description: @Model.Description</p>
                <p class="mb-0">Condition: @Model.Condition</p>
                <p class="mb-0">Min bidding step: @Model.MinBiddingStep</p>
                <p class="mb-0">Bidding period in days: @Model.BiddingPeriodInDays</p>
              @if (Model.ConditionId == 2 && User.IsModerator())
              {
                <a asp-area="Moderator" asp-controller="Auction" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
            }
            else
            {
                    <a asp-area="Moderator" asp-controller="Auction" asp-action="EditCondition" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit Condition</a>
            }
            <a asp-area="Moderator" asp-controller="Auction" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Details</a>
            </div>
    </div>
</div>
