@model AuctionFormViewModel
@{
    ViewBag.Title = "Add Auction";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label-add-edit">Auction Name</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" placeholder="Write auction name here..." />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label-add-edit">Auction Description</label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5" placeholder="Write auction description here..."></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.InitialPrice" class="form-label-add-edit">Auction Initial Price</label>
                <input asp-for="@Model.InitialPrice" class="form-control" aria-required="true" placeholder="Write auction initial price here..." />
                <span asp-validation-for="@Model.InitialPrice" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.MinBiddingStep" class="form-label-add-edit">Auction Min Bidding Step</label>
                <input asp-for="@Model.MinBiddingStep" class="form-control" aria-required="true" placeholder="Write auction min bidding step here..." />
                <span asp-validation-for="@Model.MinBiddingStep" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.BiddingPeriodInDays" class="form-label-add-edit">Auction Bidding Period In Days</label>
                <input asp-for="@Model.BiddingPeriodInDays" class="form-control" aria-required="true" placeholder="Write auctions bidding period in days here..." />
                <span asp-validation-for="@Model.BiddingPeriodInDays" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.Image" class="form-label-add-edit">Auction Main Image Url</label>
                <input asp-for="@Model.Image" class="form-control" aria-required="true" placeholder="Write auctions main image url here..." />
                <span asp-validation-for="@Model.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Other Images Url</label>
                <input type="text" name="imageUrls" class="form-control" />
                <input type="text" name="imageUrls" class="form-control" />
                <input type="text" name="imageUrls" class="form-control" />
               
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ConditionId" class="form-label-add-edit">Condition Of Auction</label>
                <select asp-for="@Model.ConditionId" class="form-control" aria-required="true">
                    <option disabled selected value="">Select Condition...</option>
                    @foreach (var condition in Model.Conditions)
                    {
                        <option value="@condition.Id">@condition.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.ConditionId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

