@model IEnumerable<AllBiddingsViewModel>
@{
    ViewBag.Title = "All Biddings";
}
<style>
    .card-body {
        font-size: 1.1em;
        font-weight: bold;
    }
</style>
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="text-center row flex gap-4 m-4 justify-content-center">
    @foreach (var b in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <img src="@b.AuctionImageUrl" alt="Product Image" class="img-thumbnail" style="width: 150px; height: 100px;" />
                <h5 class="card-title mt-1">Biddings Information</h5>
                <p class="card-title mt-1">Price: @b.Price lv.</p>
                <p class="mb-0">Date Of Bidding: @b.DateAndTimeOfBidding</p>
                <p class="mb-0">User : @b.BiddingUser</p>
                <p class="mb-0">Auction Name: @b.AuctionName</p>
            </div>
        </div>
    }
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}